modules = ["nodejs-18", "web", "java-graalvm22.3"]
run = "npm run build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 44061600
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run web"
